.error {
  line-height: 16px;
  min-height: 16px;
  width: 100%;
  color: rgb(128, 27, 27);
  text-align: left;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: -5px;
}
input {
  box-sizing: border-box;
  padding: 6px;
  border-radius: 4px;
  margin: 10px 0;
  width: 100%;
}
