.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background-color: rgb(190, 185, 233);
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  width: 200px;
}
