.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  button {
    background-color: #7b84d3;
    color: rgb(255, 255, 255);
    font-weight: 400;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 25px;

  }
}
h1{
    color: rgb(65, 65, 65);
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}
// .formContainer{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
