*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  width: 1280px;
  margin-left: 119px;
  margin-right: 119px;
  background-color: rgb(228, 212, 212);
}
body.night {
  background-color: rgb(19, 18, 54);
}
.header {
  margin-top: 26px;
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn{
  margin-left: 120px;
}
.day {
  display: none;
}
.night {
  display: block;
}
.list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item {
  margin-left: 36px;
  margin-right: 36px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.list-item-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
  text-transform: uppercase;
}
.list-item-link.night {
  color: #fbff00;
}
.main {
  width: 1280px;
  padding: 0;
  margin: 0;
}
.image {
  width: 1280px;
  height: 789px;
}
.title-position {
  margin-top: 49px;
}
.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  color: #373737;
}
.title.night {
  color: #eee4e4;
}
.text.night {
  color: #eee4e4;
}
.text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #373737;
}
.button-position {
  display: flex;
  margin: 66px 545px 82px 545px;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  border-radius: 4px;
}
.button-position.night {
  background-color: #fbff00;
}
.button {
  text-transform: uppercase;
  color: #fff;
}
.button.night {
  color: rgb(19, 18, 54);
}
.footer {
  width: 1280px;
  padding-right: 105px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  text-align: right;
}
.footer.night {
  color: #eee4e4;
}
