.container {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 15px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.modal {
  background-color: #e84c3d;
  border-radius: 5px;

  color: #fcecf0;
  font-size: 16px;
  font-weight: 400;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
}
.text {
  margin: 20px;
}
.header {
  background-color: #d44638;
  font-weight: 700;

  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 20px;
  div {
    margin: 20px;
    span {
      cursor: pointer;
    }
  }
}
.button {
  display: flex;
  margin-top: 20px;
  button {
    background-color: #d44638;
    color: #fcecf0;
    font-weight: 400;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 25px;
  }
}
